<div class="parent">
  <div class="left-content">

  </div>
  <div class="middle-content">
    <div class="card profile-card-action-icons">
      <div class="card-section">
        <div class="profile-card-header">
          <div class="profile-card-avatar">
            <img class="avatar-image" src="https://avatars1.githubusercontent.com/u/13779974?s=400&u=d606d862df673bcdbc676e111f4f05462d140c36&v=4" alt="Rafael">
          </div>
          <div class="profile-card-author">
            <h5 class="author-title">Rafael Furry</h5>
            <p class="author-description">Full Stack Web Developer</p>
          </div>
        </div>
        <div class="profile-card-about">
          <h5 class="about-title separator-left">About Me</h5>
          <p class="about-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem eveniet nulla quae ullam sit iure voluptatum, nesciunt voluptas perferendis, minus natus in quaerat?
          </p>
          <div class="row about-skills">
            <div class="small-6 columns">
              <ul class="arrow">
                <li>Coding</li>
              </ul>
            </div>
            <div class="small-6 columns">
              <ul class="arrow">
                <li>Maths</li>
                <li>Music</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">

  </div>
</div>
